@charset "utf-8"

@import "normalize"
@import "syntax"

$color-main: #444
$color-light: #AAA
$color-gray: #efefef
$color-lightgray: #f9f9f9

body
  font-family: 'Open Sans', serif


ul, li, h1, h2, h3, h4, h5, h6
  margin: 0
  padding: 0

ul, li
  list-style: none


.container
  color: $color-main
  width: 600px
  margin: auto

.banner
  padding: 20px 0
  img
    display: block
    margin: auto
    width: 80px
    height: 80px
    border-radius: 50%

nav
  font-size: 15px

  li
    font-weight: 300
    display: inline-block
    height: 48px
    width: 150px
    line-height: 48px
    letter-spacing: 3px
    text-transform: uppercase
    text-align: center
  a
    text-decoration: none
    color: $color-light
    &:hover
      color: $color-main


.headline
  font-size: 22px
  font-weight: 100
  a
    font-weight: bold
    color: $color-main
    text-decoration: none

.post
  border-top: 1px solid $color-gray
  padding: 30px 0
  a
    color: $color-main

.post-source
  text-align: center
  background: $color-gray
  padding: 10px
  margin: 10px 0


.post-title
  font-size: 24px
  a
    color: $color-main
    text-decoration: none

.post-date
  color: $color-light
  font-size: 12px
  // font-weight: 300

.post-content
  font-family: "Bitter", serif
  line-height: 26px

.post-more
  padding: 10px 0

code
  background: $color-lightgray

footer
  font-size: 10px

.highlight
  background: $color-lightgray
  padding: 10px
  font-family: Inconsolata, Monaco, 'Andale Mono', Consolas, monospace
  font-size: 14px



.talk
  border-top: 1px solid $color-gray
  padding: 30px 0
  height: 150px
  clear: both
  a
    color: $color-main


.talk-embed
  zoom: 0.5

.talk-side
  float: left
  width: 250px

.talk-main
  widtH: 350px
  float: left

.talk-title
  font-size: 24px
  line-height: 30px
  padding-bottom: 10px
  padding-top: 10px
  a
    color: $color-main
    text-decoration: none

.talk-date
  color: $color-light
  font-size: 12px

.projects-group
  border-top: 1px solid $color-gray
  padding: 30px 0
  a
    color: $color-main

.projects-item
  padding-top: 20px

.projects-desc
  color: $color-light
  margin: 10px 0 10px 30px
