footer
  markdown:
    Copyright 2007-2014
    Tymon Tobolski
    <br/>
    Inspired by <a href='http://wynn.fm'>Wynn Netherland</a>
    <br/>
    Entypo pictograms by Daniel Bruce — <a href='http://entypo.com'>Entypo.com</a>
