---
title: Tymon Tobolski &mdash; About
---

.page-header
  h1 About me
p.lead
  | Tymon Tobolski (aka <a href="http://github.com/teamon">teamon</a>) &mdash; wanna-be-drummer,
    CTO at <a href="http://monterail.com">Monterail</a>,
    ocasional writer at <a href="http://codetunes.com">Codetunes</a>.

.page-header
  h2 Elsewhere
.btn-group.btn-group-justified
  a.btn.btn-default href="https://github.com/teamon" GitHub
  a.btn.btn-default href="https://twitter.com/iteamon" Twitter
  a.btn.btn-default href="https://www.linkedin.com/in/teamon" LinkedIn
  a.btn.btn-default href="https://speakerdeck.com/teamon" Speaker Deck
