---
pageable: true
per_page: 5
title:    Tymon Tobolski
---

- page_articles.each_with_index do |article, i|
  article.post
    .page-header
      .row
        .col-md-10
          h1
            a href=article.url = article.title
        .col-md-2.post-date
          time datetime=article.date.strftime('%Y-%m-%d')
            = article.date.strftime('%b %e, %Y')

    div.lead
      = article.summary

    a.btn.btn-default href=article.url Read more

ul.pager
  - if next_page
    li.next
      a href=next_page.url Older →
  - if prev_page
    li.previous
      a href=prev_page.url ← Newer
